---
import Layout from "../layouts/Layout.astro";
import "../assets/styles.css";
import MainSection from "../components/MainSection.astro";
import Header from "../components/Header.astro";
import HogarPermanenteServices from "../components/HogarPermanenteServices.astro";
import HogarTemporalServices from "../components/HogarTemporalServices.astro";
import HogarPasadiaServices from "../components/HogarPasadiaServices.astro";
import Contactanos from "../components/Contactanos.astro";
---

<Layout title="Te cuido - hogar de cuidado al adulto mayor">
  <Header />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div id="home" class="snap-center">
      <MainSection />
    </div>
    <div id="permanente" class="snap-center">
      <HogarPermanenteServices />
    </div>
    <div id="temporal" class="snap-center">
      <HogarTemporalServices />
    </div>
    <div id="pasadia" class="snap-center">
      <HogarPasadiaServices />
    </div>
    <div id="contactanos" class="snap-center">
      <Contactanos />
    </div>
  </main>
</Layout>
