---
import Health from "../assets/icons/Health.astro";
import Help from "../assets/icons/Help.astro";
import Language from "../assets/icons/Language.astro";
import Profile from "../assets/icons/Profile.astro";
---

<header
  class="py-3 px-10 flex items-center fixed w-full justify-between z-40 text-black bg-white backdrop-blur-sm"
>
  <div class="flex flex-grow basis-0">
    <a href="#home">
      <Health />
    </a>
  </div>

  <!-- Botón de menú de hamburguesa -->
  <button
    id="hamburger-button"
    class="block md:hidden p-2 rounded focus:outline-none"
    aria-label="Toggle menu"
  >
    <svg
      class="w-6 h-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="black"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Menú principal -->
  <nav
    id="mobile-menu"
    class="hidden md:flex md:items-center md:space-x-4 absolute top-16 left-0 w-full bg-white backdrop-blur-sm md:static md:w-auto"
  >
    <ul
      class="flex flex-col md:flex-row text-sm font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#home">Inicio</a></li>
      <li><a href="#permanente">Hogar permanente</a></li>
      <li><a href="#temporal">Hogar temporal</a></li>
      <li><a href="#pasadia">Pasadía</a></li>
      <li><a href="#contactanos">Contáctanos</a></li>
    </ul>
  </nav>

  <!-- Menú de íconos -->
  <nav class="hidden md:flex flex-grow justify-end basis-0">
    <ul
      class="flex flex-wrap text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#"><Help /></a></li>
      <li><a href="#"><Language /></a></li>
      <li>
        <a href="#">
          <Profile />
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburgerButton = document.getElementById("hamburger-button");
    const mobileMenu = document.getElementById("mobile-menu");

    hamburgerButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  });
</script>
