---
import HogarPasadiaCard from "./HogarPasadiaCard.astro";
---

<section
  class='landing-section bg-white h-screen w-screen text-center overflow-hidden relative'
>
  <div class='z-30 relative h-full flex flex-col'>
    <header>
      <div class='flex flex-wrap justify-center items-center pt-64'>
        <HogarPasadiaCard />
      </div>
    </header>
  </div>

  <div class='absolute top-0 bottom-0 h-full w-full z-10'>
    <video
      class='object-cover h-full w-full'
      autoplay
      muted
      loop
      src='/pasadiaVideo.webm'
      style='filter: contrast(100%) brightness(80%);'
    >
    </video>
  </div>
</section>
