<div class='max-w-5xl backdrop-blur-sm rounded-lg dark:bg-white/50'>
  <div class='p-10'>
    <a href='#'>
      <h1 class='text-left text-5xl text-white font-medium'>
        Hogar permanente
      </h1>
    </a>
    <p class='text-left pb-4 pt-4 text-pretty text-black dark:text-black'>
      Hemos diseñado un espacio pensado para responder a las necesidades y
      cuidados requeridos por las personas mayores. Además, buscamos mantener el
      vínculo y el sentido de pertenencia con la familia brindando la
      posibilidad de amoblar la habitación con elementos que tienen algún tipo
      de valor sentimental.
    </p>

    <div class='pt-6 flex justify-between flex-wrap'>
      <div>
        <h3 class='text-xl pb-3 text-left text-white font-medium'>
          Nuestro programa incluye:
        </h3>
        <ul class='list-disc text-left pl-3'>
          <li>Tres comidas principales y 2 a 3 refrigerios</li>
          <li>Aseo y mantenimiento a la habitación</li>
          <li>Lavado y planchado de ropa</li>
          <li>Salidas</li>
          <li>Transporte donde un familiar los sábados (Cali)</li>
          <li>Asistencia en comunicación virtual con familiares</li>
          <li>Nutricionista para control de peso y dieta</li>
          <li>Emermédica</li>
        </ul>
      </div>

      <div class='max-w-md'>
        <h3 class='text-xl pb-3 text-left text-white font-medium'>
          Además, contará con acompañamiento de auxiliares de enfermería las 24
          h para:
        </h3>
        <ul class='list-disc text-left pl-3'>
          <li>Suministro de medicamentos</li>
          <li>Toma de signos vitales</li>
          <li>Atención en las actividades de la vida diaria</li>
          <li>Asistencias puntuales</li>
          <li>Rondas en las noches para velar el sueño</li>
          <li>Atención de emergencia</li>
        </ul>
      </div>
    </div>
  </div>
</div>
