<div class='max-w-5xl backdrop-blur-sm rounded-lg dark:bg-white/50'>
  <div class='p-10'>
    <a href='#'>
      <h1 class='text-left text-5xl text-white font-medium'>Pasadía</h1>
    </a>
    <p class='text-left pb-2 pt-4 text-pretty text-black dark:text-black'>
      Ofrecemos la posibilidad para que las personas mayores puedan tener un
      tiempo de entretenimiento durante el día realizando diferentes actividades
      y haciendo uso de los espacios y herramientas que ofrece La Casa.
    </p>
    <p class='text-left pb-4 text-pretty text-black dark:text-black'>
      Por eso brindamos la posibilidad de pasar el día en La Casa participando
      de las actividades terapéuticas y lúdicas; generando un entorno de
      bienestar.
    </p>
    <p class='text-left pb-4 text-pretty text-black dark:text-black'>
      Este programa se puede disfrutar de lunes a viernes de 10:00 a.m. a 5:00
      p.m.
    </p>

    <div class='pt-6 flex justify-between flex-wrap'>
      <div>
        <h3 class='text-xl pb-3 text-left text-white font-medium'>
          Nuestro programa incluye:
        </h3>
        <ul class='list-disc text-left pl-3'>
          <li>Almuerzo y refrigerio a.m. y p.m.</li>
          <li>Emermédica a partir de 3 días a la semana</li>
          <li>Acompañamiento de auxiliares de enfermería durante el día</li>
        </ul>
      </div>
    </div>
  </div>
</div>
