<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h1 class="text-7xl pt-60 text-white font-medium typewriter">
        <span class="typewriter-text"></span>
      </h1>
      <p class="text-white text-3xl p-10">
        Visítanos en nuestras instalaciones o escríbenos para darte la mejor
        orientación.
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-6">
      <div class="flex flex-wrap justify-center items-center">
        <a
          class="text-gray-900 min-w-64 bg-gray-100 hover:bg-gray-200 font-medium rounded-md text-sm px-5 py-2.5 text-center justify-center inline-flex items-center dark:focus:ring-gray-500 me-2 mb-2"
          href="#"
        >
          Visítanos
        </a>

        <a
          class="text-white min-w-64 bg-black/70 hover:bg-black/90 font-medium rounded-md text-sm px-5 py-2.5 text-center justify-center inline-flex items-center dark:focus:ring-gray-500 me-2 mb-2 gap-x-1"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-whatsapp"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
            <path
              d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
            ></path>
          </svg>
          Escríbenos
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/video-completo.webm"
      style="filter: contrast(100%) brightness(80%);"
    >
    </video>
  </div>
</section>

<style>
  .typewriter {
    display: inline-block;
  }

  .typewriter-text::after {
    content: "|";
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>

<script>
  function typeWriter(text: string, element: HTMLElement, speed: number = 100) {
    let i = 0;
    function type() {
      if (i < text.length) {
        element.textContent += text.charAt(i);
        i++;
        setTimeout(type, speed);
      }
    }
    type();
  }

  document.addEventListener("DOMContentLoaded", () => {
    const element = document.querySelector(".typewriter-text");
    if (element) {
      const text = "Cuidado genuino, como en casa.";
      typeWriter(text, element);
    }
  });
</script>
